*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}

body{
background:radial-gradient(circle at top,#1e293b,#020617);
color:#e2e8f0;
overflow:hidden;
}

/* LOGIN */
.login{
display:flex;justify-content:center;align-items:center;height:100vh
}

.login-box{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:40px;border-radius:20px;text-align:center;width:320px
}

input{
width:100%;padding:12px;margin-top:10px;border:none;border-radius:10px;
background:#1e293b;color:white
}

button{
margin-top:10px;padding:12px;width:100%;
border:none;border-radius:10px;
background:linear-gradient(90deg,#3b82f6,#6366f1);
color:white;cursor:pointer
}

.hidden{display:none}
.app{display:flex;height:100vh}

/* SIDEBAR */
.sidebar{
width:240px;background:#020617;padding:20px;
border-right:1px solid #1e293b
}

.sidebar button{
display:block;width:100%;padding:10px;margin:5px 0;
background:none;border:none;color:#94a3b8;text-align:left
}

.sidebar button:hover{color:white}

/* MAIN */
main{flex:1;padding:30px;overflow:auto}

/* ABAS */
.aba{display:none}
.ativa{display:block}

/* HERO */
.hero{
padding:20px;
background:linear-gradient(90deg,#3b82f6,#6366f1);
border-radius:15px;
margin-bottom:20px;
}

/* CARDS */
.card{
background:#1e293b;padding:20px;border-radius:15px;margin:10px 0
}

/* PROGRESSO */
.progress{
height:10px;background:#0f172a;border-radius:10px;margin-top:10px
}

.progress div{
height:100%;background:#22c55e;width:0%
}

/* MODAL */
.modal{
position:fixed;top:0;left:0;width:100%;height:100%;
background:rgba(0,0,0,0.7);
display:none;justify-content:center;align-items:center
}

.modal-box{
background:#020617;padding:20px;border-radius:15px;width:400px
}